################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NodeOrders500_HW4/NodeOrders500_HW4/bin/roslyn
*.docx
