<div class="jumbotron">
    <h1>Node Orders 500</h1>
    <p class="lead"></p>
    <p><a href="https://github.com/tdalia/ISIT420_NodeOrdersHW4/blob/master/NodeOrders500%20%203%20Queries%20Homework.docx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <div>
        <!-- Query 1 -->
        <div class="row">
            <label class="question">Which stores are selling CDs for better markups? (price more than $13) </label> <br />
            <label class="ans">here are the total number of sales per store of CD's sold at more than $13 </label> <br />
            <button>Get Markups</button>
            <div class="solution" id="ans1">
                This is the solution.
            </div>

        </div>

        <br />
        <hr />
        <br />

        <!-- Query 2 -->
        <div class="row">
            <label class="question">I want to check on the performance of an employee. </label> <br />
            <label>Will show the total amount sold for a salesperson for an entire year </label> <br />

            <label class="ans" for="employee">Choose an employee: </label>
            <select class="ans" id="employee"></select>

            <button>Get Employee</button> <br />

            <div class="solution" id="ans2">

            </div>

        </div>

        <br />
        <hr />
        <br />

        <!-- Query 3 -->
        <div class="row">
            <label class="question">I want to see the performance of my stores. </label> <br />

            <label class="ans" for="stores">Choose an store: </label>
            <select class="ans" id="stores">
                <option>Bothell</option>
            </select>

            <button>Get City</button> <br />

            <div class="solution" id="ans3">

            </div>

        </div>

        <br />
        <hr />
        <br />

    </div>
</div>
